<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @rating.person_id %>
</p>

<p>
  <strong>Score:</strong>
  <%= @rating.score %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
