@model Paladin.Web.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Product";
}

@section progress {
    @Html.Action("Index", "Progress")
}

@{
    var deductibles = new SelectListItem[] {
        new SelectListItem { Text = "100", Value = "100" },
        new SelectListItem { Text = "250", Value = "250" },
        new SelectListItem { Text = "500", Value = "500" },
        new SelectListItem { Text = "1000", Value = "1000" }
    };

    var amounts = new SelectListItem[] {
        new SelectListItem { Text = "100000", Value = "100000" },
        new SelectListItem { Text = "250000", Value = "250000" },
        new SelectListItem { Text = "500000", Value = "500000" },
        new SelectListItem { Text = "1000000", Value = "1000000" }
    };
}

<div class="content">
    @using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @class = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form__group">
            @Html.LabelFor(it => it.Collision, new { @class = "form__label" })
            @Html.DropDownListFor(it => it.Collision, deductibles, new { @class = "form__input" })
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Comprehensive, new { @class = "form__label" })
            @Html.DropDownListFor(it => it.Comprehensive, deductibles, new { @class = "form__input" })
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.PropertyDamage, new { @class = "form__label" })
            @Html.DropDownListFor(it => it.PropertyDamage, amounts, new { @class = "form__input" })
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Liability, new { @class = "form__label" })
            @Html.DropDownListFor(it => it.Liability, amounts, new { @class = "form__input" })
        </div>

        <div class="form__checkbox">
            @Html.CheckBoxFor(it => it.Rental)
            @Html.LabelFor(it => it.Rental, new { @class = "form__label" })
        </div>

        <div class="form__checkbox">
            @Html.CheckBoxFor(it => it.RoadSideAssistance)
            @Html.LabelFor(it => it.RoadSideAssistance, new { @class = "form__label" })
        </div>

        <div class="form__checkbox">
            @Html.CheckBoxFor(it => it.LoanPayoff)
            @Html.LabelFor(it => it.LoanPayoff, new { @class = "form__label" })
        </div>

        <div class="form__checkbox">
            @Html.CheckBoxFor(it => it.DriveRewards)
            @Html.LabelFor(it => it.DriveRewards, new { @class = "form__label" })
        </div>

        <button class="button" type="submit">Send</button>
    }
</div>
