<ul class="progress">
    <li class="progress__item">
        <a href="@Url.Action("Create", "Applicant")">
            <i class="material-icons">person</i>
        </a>
    </li>
    <li class="progress__item">
        <a href="@Url.Action("Create", "Address")">
            <i class="material-icons">my_location</i>
        </a>
    </li>
    <li class="progress__item">
        <a href="@Url.Action("Create", "Employment")">
            <i class="material-icons">attach_money</i>
        </a>
    </li>
    <li class="progress__item">
        <a href="@Url.Action("Create", "Vehicle")">
            <i class="material-icons">directions_car</i>
        </a>
    </li>
    <li class="progress__item">
        <a href="@Url.Action("Create", "Product")">
            <i class="material-icons">add_shopping_cart</i>
        </a>
    </li>
</ul>