<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @person.project_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @person.email %>
</p>

<p>
  <strong>Score:</strong>
  <%= @person.score %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
