@model GloboTicket.Client.Models.View.EventListModel

@{
    var all = new List<SelectListItem>() { new SelectListItem("All", string.Empty) };

    var categories = Model.Categories.Select(it => new SelectListItem(it.Name, it.Id.ToString()));

    var items = all.Concat(categories);
}

<form asp-action="Index" method="GET">
    <select asp-for="CategoryId" asp-items="items"></select>
    <button type="submit">Filter</button>
</form>

<table>
    <thead>
        <tr>
            <th></th>
            <th>DATE</th>
            <th>NAME</th>
            <th>ARTIST</th>
            <th>PRICE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var it in Model.Events)
        {
            <tr>
                <td></td>
                <td>@it.Date.LocalDateTime.ToShortDateString()</td>
                <td>@it.Name</td>
                <td>@it.Artist</td>
                <td>@it.Price</td>
                <td>
                    <a asp-controller="EventCatalog" asp-action="Detail" asp-route-eventId="@it.Id">PURCHASE DETAIL</a>
                </td>
            </tr>
        }
    </tbody>
</table>
