@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content")
</head>
<body>
    <nav>
        <ul>
            @if (Request.IsAuthenticated)
            {
                <li>@User.Identity.GetUserName()</li>
                <li>Logout</li>
            }
            else
            {
                <li>@Html.ActionLink("Sign Up", "Show", "SignUp")</li>
                <li>@Html.ActionLink("Sign In", "Show", "SignIn")</li>
            }
        </ul>
    </nav>
    @RenderBody()
    @Scripts.Render("~/Scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
