@model Paladin.Web.ViewModels.VehicleViewModel

@{
    ViewBag.Title = "Vehicle";
}

@section progress {
    @Html.Action("Index", "Progress")
}

<div class="content">
    @using (Html.BeginForm("Create", "Vehicle", FormMethod.Post, new { @class = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form__group">
            @Html.LabelFor(it => it.Year, new { @class = "form__label" })

            @{
                var yearsList = new SelectListItem[] {
                new SelectListItem { Text = "2015", Value = "2015" },
                new SelectListItem { Text = "2014", Value = "2014" },
                new SelectListItem { Text = "2013", Value = "2013" },
                new SelectListItem { Text = "2012", Value = "2012" },
                new SelectListItem { Text = "2011", Value = "2011" },
                new SelectListItem { Text = "2010", Value = "2010" },
                new SelectListItem { Text = "2009", Value = "2009" },
                new SelectListItem { Text = "2008", Value = "2008" },
                new SelectListItem { Text = "2007", Value = "2007" },
            };
            }

            @Html.DropDownListFor(it => it.Year, yearsList, new { @class = "form__input" })
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Make, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Make, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Make)
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Model, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Model, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Model)
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.PrimaryUse, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.PrimaryUse, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.PrimaryUse)
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.OwnLease, new { @class = "form__label" })

            @{
                var ownLease = new SelectListItem[] {
                new SelectListItem { Text = "Own", Value = "Own" },
                new SelectListItem { Text = "Lease", Value = "Lease" }
            };
            }

            @Html.DropDownListFor(it => it.OwnLease, ownLease, new { @class = "form__input" })
        </div>

        <button class="button" type="submit">Next</button>
    }
</div>
