@model Paladin.Web.ViewModels.AddressesViewModel

@{
    ViewBag.Title = "Address";
}

@section progress {
    @Html.Action("Index", "Progress")
}

<div class="content">
    @using (Html.BeginForm("Create", "Address", FormMethod.Post, new { @class = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form__group">
            @Html.LabelFor(it => it.Main.Street, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Main.Street, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Main.Street)
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Main.City, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Main.City, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Main.City)
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Main.State, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Main.State, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Main.State)
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Main.Zip, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Main.Zip, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Main.Zip)
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Mailing.Street, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Mailing.Street, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Mailing.Street)
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Mailing.City, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Mailing.City, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Mailing.City)
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Mailing.State, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Mailing.State, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Mailing.State)
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Mailing.Zip, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Mailing.Zip, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Mailing.Zip)
        </div>

        <button class="button" type="submit">Next</button>
    }
</div>
