<!DOCTYPE html>
<html>
  <head>
    <title>Colchonet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div id="header-wrap">
        <h1><%= link_to 'colcho.net', root_path %></h1>

        <% if user_signed_in? %>
          <%= render 'layouts/user_navbar' %>
        <% else %>
          <%= render 'layouts/visitor_navbar' %>
        <% end %>
      </div>
    </header>

    <div id="content">
      <% if notice.present? %>
        <p id="notice"><%= notice %></p>
      <% end %>

      <% if alert.present? %>
        <p id="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
