@model Paladin.Web.ViewModels.EmploymentsViewModel

@{
    ViewBag.Title = "Employement";
}

@section progress {
    @Html.Action("Index", "Progress", new { current = (int)WorkflowValues.EmploymentInfo })
}

@{
    var employmentTypeList = new SelectListItem[] {
        new SelectListItem { Text = "Full time", Value = "1" },
        new SelectListItem { Text = "Part time", Value = "2" },
        new SelectListItem { Text = "Unemployed", Value = "3" },
        new SelectListItem { Text = "Retired", Value = "4" }
    };
}

<div class="content">
    @using (Html.BeginForm("Create", "Employment", FormMethod.Post, new { @class = "form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form__group">
            @Html.LabelFor(it => it.Primary.Type, new { @class = "form__label" })
            @Html.DropDownListFor(it => it.Primary.Type, employmentTypeList, new { @class = "form__input" })
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Primary.Employer, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Primary.Employer, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Primary.Employer)
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Primary.Position, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Primary.Position, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Primary.Position)
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Primary.GrossMonthlyIncome, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Primary.GrossMonthlyIncome, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Primary.GrossMonthlyIncome)
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Primary.StartDate, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Primary.StartDate, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Primary.StartDate)
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Previous.Type, new { @class = "form__label" })
            @Html.DropDownListFor(it => it.Previous.Type, employmentTypeList, new { @class = "form__input" })
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Previous.Employer, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Previous.Employer, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Previous.Employer)
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Previous.Position, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Previous.Position, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Previous.Position)
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Previous.GrossMonthlyIncome, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Previous.GrossMonthlyIncome, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Previous.GrossMonthlyIncome)
        </div>

        <div class="form__group">
            @Html.LabelFor(it => it.Previous.StartDate, new { @class = "form__label" })
            @Html.TextBoxFor(it => it.Previous.StartDate, new { @class = "form__input" })
            @Html.ValidationMessageFor(it => it.Previous.StartDate)
        </div>

        <button class="button" type="submit">Next</button>
    }
</div>
