@model ByteBank.Web.ViewModels.SignInViewModel

@using Microsoft.Owin.Security

@{
    ViewBag.Title = "Sign In";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary()

    @Html.EditorForModel()

    <button type="submit">Sign In</button>

    @Html.ActionLink("Forgot your password?", "Index", "ForgotPassword")
}


@{
    var providers = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();

    foreach (var provider in providers)
    {
        using (Html.BeginForm("Index", "ExternalSignIn", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <button type="submit" class="btn btn-default" id="@provider.AuthenticationType" name="provider" value="@provider.AuthenticationType" title="Sign in using your @provider.Caption account">@provider.AuthenticationType</button>
        }
    }
}