@model CasaDoCodigo.Web.ViewModels.Book.CreateBookViewModel

@{
    ViewData["Title"] = "Book";
}

@using (Html.BeginForm("Create", "Book", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.LabelFor(it => it.Title)
        @Html.EditorFor(it => it.Title);
    </div>

    <div>
        @Html.LabelFor(it => it.Authors)
        @Html.ListBoxFor(it => it.Authors, Model.AuthorSelectList);
    </div>

    <button>Create</button>
}
