@model CasaDoCodigo.Web.ViewModels.Book.EditBookViewModel

@{
    ViewData["Title"] = "Book";
}

@using (Html.BeginForm("Edit", "Book", FormMethod.Post))
{
    @Html.AntiForgeryToken();

    @Html.HiddenFor(it => it.Id)

    <div>
        @Html.LabelFor(it => it.Title)
        @Html.EditorFor(it => it.Title)
    </div>

    <div>
        @Html.LabelFor(it => it.Authors)
        @Html.ListBoxFor(it => it.Authors, Model.AuthorSelectList)
    </div>

    <button>Edit</button>
}

@using (Html.BeginForm("Create", "BookCover", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(it => it.Id)

    <div>
        <img src="@Model.Cover" />
    </div>

    <div>
        <label>Cover</label>
        <input type="file" name="file" />
    </div>

    <button>Upload</button>
}
